.Notes{
    display: flex;
    // flex: 1;
    flex-direction: column;
    height: 100%;
    .Notes-header{
       height: 100px;
       width: 100%;
       display: flex;
       align-items: flex-end;
       justify-content: space-between;
       padding: 20px;
       box-sizing: border-box;
       border-bottom:1px solid #e6e6e6 ; 
       .header-left{
            font-size: 14px;
            color: #737373;
       }
       .header-right{
             display: flex;
            .action-btn{
                color: #737373;
                font-size: 14px;
                opacity: 0.6;
                margin: 0 10px;

                &.hover{
                   opacity: 1;
                   cursor: pointer;
                }
            } 
            
       }
    }
    .Notes-body{
       flex: 1;
       padding: 20px; 
       .body-head{
            input{
                padding: 10px;
                font-size: 30px;
                border: none;
                outline: none;
                width: 100%;
            }
           
        } 
        .body-content{
            textarea{
                width: 100%;
                height: 100px;
                padding: 10px;
                font-size: 16px;
                border: none;
                outline: none;
            } 
        }
    }
}